* {
  font-family: sans-serif;
  font-weight: 100;
}

.col {
  border: solid 1px black;
  border-radius: 5px;
}

.nav a {
  color: #03a9f4;
  text-decoration: none;
}

.nav a:hover {
  color: #67daff;
}