* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* hd is short for "header" */
.hd {
  display: flex;
}

.hd > .nav {
  margin: 0 0 0 5vmin;
}

.hd,
.ft {
  padding: 0.01vmin 5vmin 0.01vmin 5vmin;
}

.nav > * {
  line-height: 15vmin;
  margin: 0 2vmin 0 2vmin;
}

.row {
  display: flex;
}

.wp-10 {
  width: 10%;
}

.wp-5 {
  width: 20%;
}

.wp-4 {
  width: 25%;
}

.wp-3 {
  width: 33.3%;
}

.wp-2 {
  width: 50%;
}

.wp-1 {
  width: 100%;
}

.w-10 {
  width: 10vw;
}

.w-5 {
  width: 20vw;
}

.w-4 {
  width: 25vw;
}

.w-3 {
  width: 33.33333vw;
}

.w-2 {
  width: 50vw;
}

.w-1 {
  width: 100vw;
}

.h-10 {
  height: 10vh;
}

.h-5 {
  height: 20vh;
}

.h-4 {
  height: 25vh;
}

.h-3 {
  height: 33.33333vh;
}

.h-2 {
  height: 50vh;
}

.h-1 {
  height: 100vh;
}

.m-100 {
  margin: 100vmin;
}

.m-50 {
  margin: 50vmin;
}

.m-25 {
  margin: 25vmin;
}

.m-10 {
  margin: 10vmin;
}

.m-5 {
  margin: 5vmin;
}

.m-4 {
  margin: 4vmin;
}

.m-3 {
  margin: 3vmin;
}

.m-2 {
  margin: 2vmin;
}

.m-1 {
  margin: 1vmin;
}

.p-100 {
  padding: 100vmin;
}

.p-50 {
  padding: 50vmin;
}

.p-25 {
  padding: 25vmin;
}

.p-10 {
  padding: 10vmin;
}

.p-5 {
  padding: 5vmin;
}

.p-4 {
  padding: 4vmin;
}

.p-3 {
  padding: 3vmin;
}

.p-2 {
  padding: 2vmin;
}

.p-1 {
  padding: 1vmin;
}

@media only screen and (max-width: 500px) {
  .m-100
  .m-50,
  .m-25,
  .m-10,
  .m-5,
  .m-4,
  .m-3,
  .m-2,
  .m-1 {
    margin: 0;
  }

  .row {
    display: block;
  }
  
  .col {
    margin: 2vmin 0 2vmin 0;
    width: 100%;
  }
  
  .col input,
  .col input[type="number"],
  .col button{
    margin: 1vmin 0;
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .nav * {
    display: flex;
    line-height: 5vmin;
  }

  .nav {
    padding: 5vmin 0 5vmin 0;
  }
}

@media only screen and (max-width: 500px) {
  .nav * {
    line-height: 8vmin;
  }
}

@media only screen and (max-width: 350px) {
  .nav * {
    line-height: 12vmin;
  }
}