* {
  border: none;
}

body {
  background-color: #484848;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
button {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
}

.hd,
.ft,
input,
textarea,
button {
  background-color: #212121;
}

input:hover,
textarea:hover,
button:hover,
input:focus,
textarea:focus,
button:focus {
  background-color: rgba(255, 255, 255, 0.1);
  outline: solid 1px lightskyblue;
}

a:focus {
  border: solid 1px lightskyblue;
}

button:hover {
  cursor: pointer;
}

nav a {
  font-size: 18px;
}

a {
  color: white;
  text-decoration: none;
}

a:focus,
a:hover {
  color: rgba(255, 255, 255, 0.5);
  outline: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  background-color: rgba(33, 33, 33, 0.75);
  list-style: none;
}

ul:nth-child(odd),
li:nth-child(odd) {
  background-color: rgba(33, 33, 33, 0.5);
}

form {
  line-height: 8vmin;
}

button {
  min-width: 7vmin;
}

button::-moz-focus-inner {
  border: none;
}

table {
  border-collapse: collapse;
  background-color: rgb(33, 33, 33);
}

td {
  background-color: #353535;
}

table,
tr,
th,
td {
  border: solid 1px rgb(33, 33, 33);
}